code {
  background-color: #333;
  color: #aaa;
  padding: .25em .5em;
  border-radius: 3px;
}

.level-list {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
  box-shadow: 0 0 5px #333;
  background-color: var(--dark-background-color);
  height: 100vh;
  width: 50%;
}

.level-list li {
  list-style: none;
  color: #fff;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  transition: background-color .1s linear;
}

.level-list li .finished {
  color: var(--level-finish-color);
}

.level-list li:first-child {
  margin-top: calc(50px + 3em);
}

.level-list li:hover {
  background-color: #333;
}

.level-list li a {
  display: flex;
  align-items: center;
  padding: 1em 0 1em 2em;
  width: 100%;
  height: 100%;
}

.level-finish-indicator {
  width: 25px;
  height: 25px;
  margin-right: .5em;
}

.menu-container {
  margin: 2em 0 0 2em;
}

.hamburger-icon-wrapper {
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  box-shadow: 0 0 5px #333;
  border-radius: 5px;
  transition: box-shadow .2s linear;
}

.hamburger-icon-wrapper:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #525252;
}

.hamburger-icon-line {
  display: block;
  width: 40%;
  height: 1px;
  background-color: #fff;
  transition: all .2s linear;
  /* position: absolute;
  left: 30%; */
}

.hamburger-icon-line:not(:last-child) {
  margin-bottom: .35em;
}

/** Hamburger Icon Activated Section */
.hamburger-icon-wrapper.active .hamburger-icon-line:nth-child(1) {
  transform: rotate(45deg);
  top: 1.5em;
  left: .75em;
}

.hamburger-icon-wrapper.active .hamburger-icon-line:nth-child(2) {
  display: none;
}

.hamburger-icon-wrapper.active .hamburger-icon-line:nth-child(3) {
  transform: rotate(-45deg);
  top: 1.5em;
  right: .85em;
}

.sidebar-container {
  min-height: 100vh;
  height: 100vh;
  width: 50%;
  padding: 0 2em 2em 0;
  background-color: var(--dark-background-color);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
}

.level-description-container {
  margin: 2em 0 0 2em;
  flex: 1 1 auto;
  color: #aaa;
  font-family: Arial, Helvetica, sans-serif;
}

.level-description-container .level-text {
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

.level-text p {
  margin: 0em 1em;
}

.level-description-container .level-text.finished {
  color: var(--level-finish-color);
}

.level-description-container .description-text {
  min-height: 50px;
  margin-bottom: 2em;
}

.editor-container {
  flex: 2 1 auto;
  width: 100%;
  padding-left: 2em;
}

.css-editor-container {
  margin-top: 2em;
}

.css-editor-container, .html-editor-container {
  height: 12.5em;
  box-shadow: 0 0 5px #333;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background-color: #222;
}

.editor-description {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.editor-title {
  color: #ababab;
}

.editor-filename {
/* margin-bottom: .5em; */
  color: #525252;
}

.editor {
  width: 100%;
  height: 100%;
}

.action-button-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1em;
  width: 100%;
}

.action-button-container .btn {
  border: none;
  color: #fff;
  cursor: pointer;
}

.action-button-container .btn:not(:last-child) {
  margin-right: 1em;
}

.transparent-background {
  background-color: transparent;
  border: none;
}

.transparent-background img {
  width: 25px;
  height: 25px;
}

.btn-run {
  font-size: 1rem;
  border-radius: 5px;
  padding: 1em 1.5em;
  transition: all .2s linear;
  padding: 1em 1.5em;
  color: var(--dark-background-color);
  background-color: var(--level-finish-color);
}

.btn-next {
  transform: rotateY(180deg)
}

.btn-prev, .btn-next {
  background-color: transparent;
  transition: all .2s linear;
  width: 50px;
  height: 50px;
}

.btn-prev:hover {
  transform: scale(1.1);
}

.btn-next:hover {
  transform: scale(1.1) rotateY(180deg);
}